<!DOCTYPE html>
<html lang='en'>
{% load static %}
<head>
	<meta charset="utf-8">
	<title>LOGIN</title>
	<link rel="stylesheet" type="text/css" href="{% static 'css/reg.css' %}">
	
</head>
<body>
	 <body class="text-center">
	 <form class="form-signin">
  <img class="mb-4" src="D:\Project\bluecollar\templates\images\ag.png" alt="" width="172" height="172">
  <h1 class="h3 mb-3 font-weight-normal">Add Your Skills</h1><br><br>
  Your Skill : <input type="text" name="skill" placeholder="Enter your skill" required><br><br>
  Proof : <input type="text" name="proof" placeholder="Enter proof for skill" required><br><br>
  <button class="btn btn-lg btn-primary btn-block" type="submit">Submit</button>

</form>
</body>
</html>